BEGIN;
--
-- Create model CicloCultivo
--
CREATE TABLE "ciclo_cultivo" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "fecha_inicio" date NOT NULL, "fecha_estimada_fin" date NOT NULL, "fecha_fin_real" date NULL, "estado" varchar(20) NOT NULL, "observaciones" text NULL, "costo_estimado" numeric(12, 2) NULL, "costo_real" numeric(12, 2) NULL, "rendimiento_esperado" numeric(10, 2) NULL, "rendimiento_real" numeric(10, 2) NULL, "unidad_rendimiento" varchar(20) NOT NULL, "creado_en" timestamp with time zone NOT NULL, "actualizado_en" timestamp with time zone NOT NULL);
--
-- Create model Comunidad
--
CREATE TABLE "comunidad" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(100) NOT NULL UNIQUE, "municipio" varchar(100) NULL, "departamento" varchar(100) NULL, "creado_en" timestamp with time zone NOT NULL);
--
-- Create model Cultivo
--
CREATE TABLE "cultivo" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "especie" varchar(100) NOT NULL, "variedad" varchar(100) NULL, "tipo_semilla" varchar(50) NULL, "fecha_estimada_siembra" date NULL, "hectareas_sembradas" numeric(10, 2) NULL, "estado" varchar(20) NOT NULL, "creado_en" timestamp with time zone NOT NULL);
--
-- Create model Fertilizante
--
CREATE TABLE "fertilizante" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre_comercial" varchar(100) NOT NULL, "tipo_fertilizante" varchar(20) NOT NULL, "composicion_npk" varchar(20) NOT NULL, "cantidad" numeric(10, 2) NOT NULL, "unidad_medida" varchar(20) NOT NULL, "fecha_vencimiento" date NULL, "lote" varchar(50) NOT NULL UNIQUE, "proveedor" varchar(100) NOT NULL, "precio_unitario" numeric(10, 2) NOT NULL, "ubicacion_almacen" varchar(100) NOT NULL, "estado" varchar(20) NOT NULL, "dosis_recomendada" varchar(50) NULL, "materia_orgßnica" numeric(5, 2) NULL, "observaciones" text NULL, "creado_en" timestamp with time zone NOT NULL, "actualizado_en" timestamp with time zone NOT NULL);
--
-- Create model Parcela
--
CREATE TABLE "parcela" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(100) NULL, "superficie_hectareas" numeric(10, 2) NOT NULL, "tipo_suelo" varchar(50) NULL, "ubicacion" text NULL, "latitud" numeric(10, 8) NULL, "longitud" numeric(10, 8) NULL, "estado" varchar(20) NOT NULL, "creado_en" timestamp with time zone NOT NULL);
--
-- Create model Pesticida
--
CREATE TABLE "pesticida" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre_comercial" varchar(100) NOT NULL, "ingrediente_activo" varchar(100) NOT NULL, "tipo_pesticida" varchar(20) NOT NULL, "concentracion" varchar(50) NOT NULL, "cantidad" numeric(10, 2) NOT NULL, "unidad_medida" varchar(20) NOT NULL, "fecha_vencimiento" date NOT NULL, "lote" varchar(50) NOT NULL UNIQUE, "proveedor" varchar(100) NOT NULL, "precio_unitario" numeric(10, 2) NOT NULL, "ubicacion_almacen" varchar(100) NOT NULL, "estado" varchar(20) NOT NULL, "registro_sanitario" varchar(50) NULL, "dosis_recomendada" varchar(50) NULL, "observaciones" text NULL, "creado_en" timestamp with time zone NOT NULL, "actualizado_en" timestamp with time zone NOT NULL);
--
-- Create model Rol
--
CREATE TABLE "rol" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(50) NOT NULL UNIQUE, "descripcion" text NULL, "permisos" jsonb NOT NULL, "es_sistema" boolean NOT NULL, "creado_en" timestamp with time zone NOT NULL, "actualizado_en" timestamp with time zone NOT NULL);
--
-- Create model Usuario
--
CREATE TABLE "usuario" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "password" varchar(128) NOT NULL, "last_login" timestamp with time zone NULL, "is_superuser" boolean NOT NULL, "ci_nit" varchar(20) NOT NULL UNIQUE, "nombres" varchar(100) NOT NULL, "apellidos" varchar(100) NOT NULL, "email" varchar(254) NULL UNIQUE, "telefono" varchar(20) NULL, "usuario" varchar(50) NOT NULL UNIQUE, "estado" varchar(20) NOT NULL, "intentos_fallidos" integer NOT NULL, "ultimo_intento" timestamp with time zone NULL, "fecha_bloqueo" timestamp with time zone NULL, "token_actual" text NULL, "creado_en" timestamp with time zone NOT NULL, "actualizado_en" timestamp with time zone NOT NULL, "is_active" boolean NOT NULL, "is_staff" boolean NOT NULL, "date_joined" timestamp with time zone NOT NULL);
CREATE TABLE "usuario_groups" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "usuario_id" bigint NOT NULL, "group_id" integer NOT NULL);
CREATE TABLE "usuario_user_permissions" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "usuario_id" bigint NOT NULL, "permission_id" integer NOT NULL);
--
-- Create model BitacoraAuditoria
--
CREATE TABLE "bitacora_auditoria" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "accion" varchar(50) NOT NULL, "tabla_afectada" varchar(100) NOT NULL, "registro_id" integer NOT NULL, "detalles" jsonb NOT NULL, "fecha" timestamp with time zone NOT NULL, "ip_address" inet NULL, "user_agent" text NULL, "usuario_id" bigint NULL);
--
-- Create model Campaign
--
CREATE TABLE "campaign" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(200) NOT NULL UNIQUE, "fecha_inicio" date NOT NULL, "fecha_fin" date NOT NULL, "meta_produccion" numeric(12, 2) NOT NULL, "unidad_meta" varchar(20) NOT NULL, "estado" varchar(20) NOT NULL, "descripcion" text NULL, "presupuesto" numeric(12, 2) NULL, "creado_en" timestamp with time zone NOT NULL, "actualizado_en" timestamp with time zone NOT NULL, "responsable_id" bigint NULL);
--
-- Create model Cosecha
--
CREATE TABLE "cosecha" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "fecha_cosecha" date NOT NULL, "cantidad_cosechada" numeric(10, 2) NOT NULL, "unidad_medida" varchar(20) NOT NULL, "calidad" varchar(20) NOT NULL, "estado" varchar(20) NOT NULL, "precio_venta" numeric(10, 2) NULL, "observaciones" text NULL, "creado_en" timestamp with time zone NOT NULL, "ciclo_cultivo_id" bigint NOT NULL);
--
-- Add field cultivo to ciclocultivo
--
ALTER TABLE "ciclo_cultivo" ADD COLUMN "cultivo_id" bigint NOT NULL CONSTRAINT "ciclo_cultivo_cultivo_id_51582acf_fk_cultivo_id" REFERENCES "cultivo"("id") DEFERRABLE INITIALLY DEFERRED; SET CONSTRAINTS "ciclo_cultivo_cultivo_id_51582acf_fk_cultivo_id" IMMEDIATE;
--
-- Add field parcela to cultivo
--
ALTER TABLE "cultivo" ADD COLUMN "parcela_id" bigint NOT NULL CONSTRAINT "cultivo_parcela_id_1c6b0972_fk_parcela_id" REFERENCES "parcela"("id") DEFERRABLE INITIALLY DEFERRED; SET CONSTRAINTS "cultivo_parcela_id_1c6b0972_fk_parcela_id" IMMEDIATE;
--
-- Create model AnalisisSuelo
--
CREATE TABLE "analisis_suelo" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "fecha_analisis" date NOT NULL, "tipo_analisis" varchar(20) NOT NULL, "ph" numeric(4, 2) NULL, "materia_organica" numeric(5, 2) NULL, "nitrogeno" numeric(5, 2) NULL, "fosforo" numeric(5, 2) NULL, "potasio" numeric(5, 2) NULL, "laboratorio" varchar(100) NULL, "recomendaciones" text NULL, "costo_analisis" numeric(8, 2) NULL, "creado_en" timestamp with time zone NOT NULL, "parcela_id" bigint NOT NULL);
--
-- Create model Semilla
--
CREATE TABLE "semilla" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "especie" varchar(100) NOT NULL, "variedad" varchar(100) NULL, "cantidad" numeric(10, 2) NOT NULL, "unidad_medida" varchar(20) NOT NULL, "fecha_vencimiento" date NOT NULL, "porcentaje_germinacion" numeric(5, 2) NOT NULL, "lote" varchar(50) NULL, "proveedor" varchar(100) NULL, "precio_unitario" numeric(10, 2) NULL, "ubicacion_almacen" varchar(100) NULL, "estado" varchar(20) NOT NULL, "observaciones" text NULL, "creado_en" timestamp with time zone NOT NULL, "actualizado_en" timestamp with time zone NOT NULL);
--
-- Create model Socio
--
CREATE TABLE "socio" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "codigo_interno" varchar(20) NULL UNIQUE, "fecha_nacimiento" date NULL, "sexo" varchar(10) NULL, "direccion" text NULL, "estado" varchar(20) NOT NULL, "creado_en" timestamp with time zone NOT NULL, "comunidad_id" bigint NULL, "usuario_id" bigint NOT NULL UNIQUE);
--
-- Add field socio to parcela
--
ALTER TABLE "parcela" ADD COLUMN "socio_id" bigint NOT NULL CONSTRAINT "parcela_socio_id_08f21977_fk_socio_id" REFERENCES "socio"("id") DEFERRABLE INITIALLY DEFERRED; SET CONSTRAINTS "parcela_socio_id_08f21977_fk_socio_id" IMMEDIATE;
--
-- Create model TransferenciaParcela
--
CREATE TABLE "transferencia_parcela" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "fecha_transferencia" date NOT NULL, "motivo" text NOT NULL, "documento_legal" varchar(100) NULL, "costo_transferencia" numeric(10, 2) NULL, "estado" varchar(20) NOT NULL, "fecha_aprobacion" timestamp with time zone NULL, "observaciones" text NULL, "creado_en" timestamp with time zone NOT NULL, "autorizado_por_id" bigint NULL, "parcela_id" bigint NOT NULL, "socio_anterior_id" bigint NOT NULL, "socio_nuevo_id" bigint NOT NULL);
--
-- Create model Tratamiento
--
CREATE TABLE "tratamiento" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "tipo_tratamiento" varchar(20) NOT NULL, "nombre_producto" varchar(100) NOT NULL, "dosis" numeric(10, 2) NOT NULL, "unidad_dosis" varchar(20) NOT NULL, "fecha_aplicacion" date NOT NULL, "costo" numeric(10, 2) NULL, "observaciones" text NULL, "aplicado_por" varchar(100) NULL, "creado_en" timestamp with time zone NOT NULL, "ciclo_cultivo_id" bigint NOT NULL);
--
-- Create model CampaignPlot
--
CREATE TABLE "campaign_plot" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "fecha_asignacion" date NOT NULL, "superficie_comprometida" numeric(10, 2) NULL, "cultivo_planificado" varchar(100) NULL, "meta_produccion_parcela" numeric(10, 2) NULL, "observaciones" text NULL, "creado_en" timestamp with time zone NOT NULL, "campaign_id" bigint NOT NULL, "parcela_id" bigint NOT NULL);
--
-- Create model CampaignPartner
--
CREATE TABLE "campaign_partner" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "rol" varchar(20) NOT NULL, "fecha_asignacion" date NOT NULL, "observaciones" text NULL, "creado_en" timestamp with time zone NOT NULL, "campaign_id" bigint NOT NULL, "socio_id" bigint NOT NULL);
--
-- Create model UsuarioRol
--
CREATE TABLE "usuario_rol" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "creado_en" timestamp with time zone NOT NULL, "rol_id" bigint NOT NULL, "usuario_id" bigint NOT NULL);
CREATE INDEX "comunidad_nombre_7710bf9f_like" ON "comunidad" ("nombre" varchar_pattern_ops);
CREATE INDEX "fertilizante_lote_fe4708c6_like" ON "fertilizante" ("lote" varchar_pattern_ops);
CREATE INDEX "pesticida_lote_41dfb26f_like" ON "pesticida" ("lote" varchar_pattern_ops);
CREATE INDEX "rol_nombre_ab94fcd3_like" ON "rol" ("nombre" varchar_pattern_ops);
CREATE INDEX "usuario_ci_nit_c1671d8c_like" ON "usuario" ("ci_nit" varchar_pattern_ops);
CREATE INDEX "usuario_email_de9343f9_like" ON "usuario" ("email" varchar_pattern_ops);
CREATE INDEX "usuario_usuario_41f55d10_like" ON "usuario" ("usuario" varchar_pattern_ops);
ALTER TABLE "usuario_groups" ADD CONSTRAINT "usuario_groups_usuario_id_group_id_2e3cd638_uniq" UNIQUE ("usuario_id", "group_id");
ALTER TABLE "usuario_groups" ADD CONSTRAINT "usuario_groups_usuario_id_161fc80c_fk_usuario_id" FOREIGN KEY ("usuario_id") REFERENCES "usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "usuario_groups" ADD CONSTRAINT "usuario_groups_group_id_c67c8651_fk_auth_group_id" FOREIGN KEY ("group_id") REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "usuario_groups_usuario_id_161fc80c" ON "usuario_groups" ("usuario_id");
CREATE INDEX "usuario_groups_group_id_c67c8651" ON "usuario_groups" ("group_id");
ALTER TABLE "usuario_user_permissions" ADD CONSTRAINT "usuario_user_permissions_usuario_id_permission_id_3db58b8c_uniq" UNIQUE ("usuario_id", "permission_id");
ALTER TABLE "usuario_user_permissions" ADD CONSTRAINT "usuario_user_permissions_usuario_id_693d9c50_fk_usuario_id" FOREIGN KEY ("usuario_id") REFERENCES "usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "usuario_user_permissions" ADD CONSTRAINT "usuario_user_permiss_permission_id_a8893ce7_fk_auth_perm" FOREIGN KEY ("permission_id") REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "usuario_user_permissions_usuario_id_693d9c50" ON "usuario_user_permissions" ("usuario_id");
CREATE INDEX "usuario_user_permissions_permission_id_a8893ce7" ON "usuario_user_permissions" ("permission_id");
ALTER TABLE "bitacora_auditoria" ADD CONSTRAINT "bitacora_auditoria_usuario_id_1d8035c6_fk_usuario_id" FOREIGN KEY ("usuario_id") REFERENCES "usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "bitacora_auditoria_usuario_id_1d8035c6" ON "bitacora_auditoria" ("usuario_id");
ALTER TABLE "campaign" ADD CONSTRAINT "campaign_responsable_id_bb92d543_fk_usuario_id" FOREIGN KEY ("responsable_id") REFERENCES "usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "campaign_nombre_eb3d0be2_like" ON "campaign" ("nombre" varchar_pattern_ops);
CREATE INDEX "campaign_responsable_id_bb92d543" ON "campaign" ("responsable_id");
ALTER TABLE "cosecha" ADD CONSTRAINT "cosecha_ciclo_cultivo_id_5cb372b5_fk_ciclo_cultivo_id" FOREIGN KEY ("ciclo_cultivo_id") REFERENCES "ciclo_cultivo" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "cosecha_ciclo_cultivo_id_5cb372b5" ON "cosecha" ("ciclo_cultivo_id");
CREATE INDEX "ciclo_cultivo_cultivo_id_51582acf" ON "ciclo_cultivo" ("cultivo_id");
CREATE INDEX "cultivo_parcela_id_1c6b0972" ON "cultivo" ("parcela_id");
ALTER TABLE "analisis_suelo" ADD CONSTRAINT "analisis_suelo_parcela_id_24fa5be6_fk_parcela_id" FOREIGN KEY ("parcela_id") REFERENCES "parcela" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "analisis_suelo_parcela_id_24fa5be6" ON "analisis_suelo" ("parcela_id");
ALTER TABLE "semilla" ADD CONSTRAINT "semilla_especie_variedad_lote_4a8ccab0_uniq" UNIQUE ("especie", "variedad", "lote");
ALTER TABLE "socio" ADD CONSTRAINT "socio_comunidad_id_ba0c05b8_fk_comunidad_id" FOREIGN KEY ("comunidad_id") REFERENCES "comunidad" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "socio" ADD CONSTRAINT "socio_usuario_id_da74ebfc_fk_usuario_id" FOREIGN KEY ("usuario_id") REFERENCES "usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "socio_codigo_interno_b50746ef_like" ON "socio" ("codigo_interno" varchar_pattern_ops);
CREATE INDEX "socio_comunidad_id_ba0c05b8" ON "socio" ("comunidad_id");
CREATE INDEX "parcela_socio_id_08f21977" ON "parcela" ("socio_id");
ALTER TABLE "transferencia_parcela" ADD CONSTRAINT "transferencia_parcela_autorizado_por_id_08470725_fk_usuario_id" FOREIGN KEY ("autorizado_por_id") REFERENCES "usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "transferencia_parcela" ADD CONSTRAINT "transferencia_parcela_parcela_id_9fe8f1f6_fk_parcela_id" FOREIGN KEY ("parcela_id") REFERENCES "parcela" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "transferencia_parcela" ADD CONSTRAINT "transferencia_parcela_socio_anterior_id_13389cfe_fk_socio_id" FOREIGN KEY ("socio_anterior_id") REFERENCES "socio" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "transferencia_parcela" ADD CONSTRAINT "transferencia_parcela_socio_nuevo_id_378073fe_fk_socio_id" FOREIGN KEY ("socio_nuevo_id") REFERENCES "socio" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "transferencia_parcela_autorizado_por_id_08470725" ON "transferencia_parcela" ("autorizado_por_id");
CREATE INDEX "transferencia_parcela_parcela_id_9fe8f1f6" ON "transferencia_parcela" ("parcela_id");
CREATE INDEX "transferencia_parcela_socio_anterior_id_13389cfe" ON "transferencia_parcela" ("socio_anterior_id");
CREATE INDEX "transferencia_parcela_socio_nuevo_id_378073fe" ON "transferencia_parcela" ("socio_nuevo_id");
ALTER TABLE "tratamiento" ADD CONSTRAINT "tratamiento_ciclo_cultivo_id_84b370bf_fk_ciclo_cultivo_id" FOREIGN KEY ("ciclo_cultivo_id") REFERENCES "ciclo_cultivo" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "tratamiento_ciclo_cultivo_id_84b370bf" ON "tratamiento" ("ciclo_cultivo_id");
ALTER TABLE "campaign_plot" ADD CONSTRAINT "campaign_plot_campaign_id_parcela_id_6e00a4ef_uniq" UNIQUE ("campaign_id", "parcela_id");
ALTER TABLE "campaign_plot" ADD CONSTRAINT "campaign_plot_campaign_id_a762c9ce_fk_campaign_id" FOREIGN KEY ("campaign_id") REFERENCES "campaign" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "campaign_plot" ADD CONSTRAINT "campaign_plot_parcela_id_c0090472_fk_parcela_id" FOREIGN KEY ("parcela_id") REFERENCES "parcela" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "campaign_plot_campaign_id_a762c9ce" ON "campaign_plot" ("campaign_id");
CREATE INDEX "campaign_plot_parcela_id_c0090472" ON "campaign_plot" ("parcela_id");
ALTER TABLE "campaign_partner" ADD CONSTRAINT "campaign_partner_campaign_id_socio_id_ca0fb4ab_uniq" UNIQUE ("campaign_id", "socio_id");
ALTER TABLE "campaign_partner" ADD CONSTRAINT "campaign_partner_campaign_id_17391799_fk_campaign_id" FOREIGN KEY ("campaign_id") REFERENCES "campaign" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "campaign_partner" ADD CONSTRAINT "campaign_partner_socio_id_548f59ee_fk_socio_id" FOREIGN KEY ("socio_id") REFERENCES "socio" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "campaign_partner_campaign_id_17391799" ON "campaign_partner" ("campaign_id");
CREATE INDEX "campaign_partner_socio_id_548f59ee" ON "campaign_partner" ("socio_id");
ALTER TABLE "usuario_rol" ADD CONSTRAINT "usuario_rol_usuario_id_rol_id_8d0f775c_uniq" UNIQUE ("usuario_id", "rol_id");
ALTER TABLE "usuario_rol" ADD CONSTRAINT "usuario_rol_rol_id_bd32bd95_fk_rol_id" FOREIGN KEY ("rol_id") REFERENCES "rol" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "usuario_rol" ADD CONSTRAINT "usuario_rol_usuario_id_ddcbe68f_fk_usuario_id" FOREIGN KEY ("usuario_id") REFERENCES "usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "usuario_rol_rol_id_bd32bd95" ON "usuario_rol" ("rol_id");
CREATE INDEX "usuario_rol_usuario_id_ddcbe68f" ON "usuario_rol" ("usuario_id");
COMMIT;
